{{> header}}
    <div class="p-16">
        {{!-- <div class="alert alert-primary">
            {{notice}}
        </div> --}}
        <p id="notice">{{notice}}</p>
    </div>
    <script src="js/index.js"></script>
{{> footer}}